@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.nav-container {
    background-color: #5AB4F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.nav--logo {
    margin-right: 8px;
    width: auto;
    height: 30px;
}

.nav--title {
    color: white;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -.9px;
}

.card {
    border-bottom: 1px solid rgb(232, 228, 228);
    margin: 20px 50px 10px 50px;
    display: flex;
    padding-bottom: 30px;
}

.card--img {
    object-fit: cover;
    height: 250px;
    width: 170px;
    border-radius: 8px;

    align-self: center;
}

.card-info {
    padding-left: 40px;
    margin-bottom: 20px;

}

.card--top {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 50%;
    margin-top: 20px;
    padding: 0;
}

.pin--icon {
    height: 10px;
    width: auto;
}

.country {
    font-weight: 200;
    font-size: 16px;
    padding-left: -15px;
    letter-spacing: 2px;
}

a {
    color: rgb(171, 170, 170);
    font-size: 12px;
}


.city {
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
}

.dates {
    font-size: 12px;
    margin: 0;
}

.description {
    font-weight: 200;
    font-size: 12px;
    width: 70%;
}